.contacto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-radius: 8px;
    height: 85dvh;
}

.contacto-title, .contacto-subtitle {
    width: 100%;
    text-align: left;
}
.contacto-title {
    font-size: 4rem;
    color: var(--primary-color);
    margin: 0 ;
}
.contacto-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.contacto-list-item {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contacto-list-item span {
    margin-right: 1rem;
    font-size: 2rem;
}
.contacto-card{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    aspect-ratio: 4/3;
    width: 100%;
    max-width: 640px;
    background-color: #DBFCD9;
    color: #094106;
    border-radius: 40px;
}
.contacto-article{
    width: 100%;
}
.contacto-card-img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 12rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid ;
}
.contacto-card-title{
    font-size: 3rem;
    margin:0;
}
.contacto-card-text{
    text-wrap: pretty;
    font-size: 1.4rem;
    margin: 0 auto;
    width: 90%;
}