.contacto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-radius: 8px;
    height: 92dvh;
}

.contacto-title, .contacto-subtitle {
    width: 100%;
    text-align: left;
}
.contacto-title {
    font-size: 4rem;
    color: var(--primary-color);
    margin: 0 ;
}
.contacto-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.contacto-list-item {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contacto-list-item span {
    margin-right: 1rem;
    font-size: 2rem;
}
.contacto-card{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    aspect-ratio: 4/3;
    width: 100%;
    max-width: 640px;
    background-color: #DBFCD9;
    color: #094106;
    border-radius: 40px;
}
.contacto-article{
    width: 100%;
}
.contacto-card-img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 12rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid ;
}
.contacto-card-title{
    font-size: 3rem;
    margin:0;
}
.contacto-card-text{
    text-wrap: pretty;
    font-size: 1.4rem;
    margin: 0 auto;
    width: 90%;
}
@media(max-width:1024px){
    .contacto-card{
        aspect-ratio: 1/1;
        width: 100%;
        max-width: 400px;
    }
    .contacto-card-img{
        width: 10rem;
    }
    .contacto-card-title{
        font-size: 2.5rem;
    }
    .contacto-card-text{
        font-size: 1.1rem;
    }
    .contacto-title{
        font-size: 4rem;
    }
    .contacto-list-item{
        font-size: 1.2rem;
    }
    .contacto-list-item span{
        font-size: 1.5rem;
    }
}
@media(max-width:768px){
    .contacto-container{
        height: 80dvh;
    }
    .contacto-card{
        width: 100%;
        max-width: 400px;
    }
    .contacto-card-img{
        width: 8rem;
    }
    .contacto-card-title{
        font-size: 1.8rem;
    }
    .contacto-card-text{
        font-size: 0.8rem;
    }
    .contacto-title{
        font-size: 2.5rem;
    }
    .contacto-list-item{
        font-size: 0.8rem;
    }
    .contacto-list-item span{
        font-size: 1.2rem;
    }
}
@media(max-width:525px){
    .contacto-container{
        padding-top:2rem ;
        flex-direction: column;
        justify-content:center;
    }
    .contacto-title{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .contacto-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 1rem auto;
    }
    .contacto-card{
        max-width: 90%;
        padding: 0.5;
        height: 35dvh;
        flex-direction: column;
        gap: 0.5rem;
    }
    .contacto-card-img{
        margin: 0;
        width: 9rem;
        padding: 0.2rem;
    }
    .contacto-card-text{
        font-size: 0.7rem;
        text-wrap: pretty;
        width: 100%;
        margin: 0;
    }
}