a{
    text-decoration: none;
    color: var(--primary-color);
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    align-items: center;
    height: 5dvh;
    padding: 2rem 0;
    width: 100%;
    /*Para que el header se siga viendo cuando hago scroll*/
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    /* backdrop-filter: blur(5px); */
    z-index: 1000;
}
.header p{
    display: none;
}
.header-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
}
.header-navbar-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.header-navbar-item a:hover{
    color: var(--accent-color);
    text-decoration:underline;
    cursor: pointer;
}
.header-title {
    color: var(--primary-color);
    margin:0;
    font-size: 3.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-title-accent {
    color: #1c8911;
}

 @media (max-width: 1024px) {
    .header-navbar-list{
        gap: 1.5rem;
        font-size: 1.2rem;
    }
    .header-title {
        font-size: 2.5rem;
    }
 }
 @media (max-width: 768px) {
    .header{
        padding: 1.5rem 0;
    }
    .header-navbar-list{
        gap: 1.5rem;
        font-size: 0.9rem;
    }
    .header-title {
        font-size: 2rem;
    }
 }
 @media(max-width:620px) {
    .header{
        justify-content:space-evenly ;
    }
    .header-navbar{
        display :flex;
    }
    .header-navbar-list{
        gap: 1rem;
        font-size: 0.8rem;
        margin: 0;
        padding-left:0;
        line-height: normal;
    }

 }
 @media (max-width: 425px) {
    .header{
        justify-content: space-between;
    }
    .header-title{
        margin-left: 45px;
    }
    .header p{
        display: inline;
        font-size:2rem;
        margin-right: 45px;
    }
    .header-navbar{
        display: none;
    }
 }
