:root {
    --primary-color: #242424;
    --secondary-color: #e6f6ee;
    --accent-color: #1c8911;
}

.home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;
}

.home-article {
    color: var(--primary-color);
    text-align: left;
    width: 100%;
}

.home-article-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.home-article-btn{
    padding: 0.5rem 1.3rem;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--accent-color);
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--secondary-color);
    text-decoration: none;
}

.home-article-text {
    font-size: 1.3rem;
    margin: 1rem 4rem 1rem 0;
    text-wrap: pretty;
}

.blob {
    display: flex;
    max-width: 640px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    background: linear-gradient(135deg, #e6f6ee, #53b363);
    border-radius: 20px;
    overflow:hidden;
    position: relative;
    width: 90%;
}

.blob-title {
    color: #ffffff50;
    margin: 0;
    text-align: center;
    font-size: 7.5rem;
    line-height: 0.8;
}

.blob-trebol {
    position: absolute;
    width: 500px;
    bottom: -5rem;
}

.home-article__accent {
    color: var(--accent-color);
    font-weight: 700;
}
