.home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 85dvh;
}

.home-article {
    color: var(--primary-color);
    text-align: left;
    width: 100%;
}

.home-article-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.home-article-btn{
    padding: 0.5rem 1.3rem;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.home-article-text {
    font-size: 1.3rem;
    margin: 1rem 4rem 2rem 0;
    text-wrap: pretty;
}

.blob {
    display: flex;
    max-width: 640px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    background: linear-gradient(135deg, #e6f6ee, #53b363);
    border-radius: 20px;
    overflow:hidden;
    position: relative;
    width: 90%;
}

.blob-title {
    color: #ffffff50;
    margin: 0;
    text-align: center;
    font-size: 7.5rem;
    line-height: 0.8;
}

.blob-trebol {
    position: absolute;
    width: 500px;
    bottom: -5rem;
}

.home-article__accent {
    color: var(--accent-color);
    font-weight: 700;
}
@media(max-width:1024px){
    .home-container{
        gap: 1.5rem;
    }
    .home-article-text{
        font-size: 1.1rem;
        margin: 1rem 0 2rem 0;
    }
    .home-article-title{
        font-size: 2.3rem;
    }
    .blob {
        height: 400px;
    }
    .blob-title {
        font-size: 5rem;
    }
    .blob-trebol{
        width: 350px;
        bottom: -4rem;
    }
}
@media(max-width:768px){
    .home-container{
        gap: 1.5rem;
    }
    .home-article-title{
        font-size: 1.6rem;
    }
    .home-article-text{
        font-size: 0.8rem;
        margin: 1rem 0 2rem 0;
    }
    .home-article-btn{
        padding: 0.3rem 0.7rem;
        font-size: 0.8rem;
    }
    .blob {
        height: 350px;
    }
    .blob-title {
        font-size: 3.9rem;
    }
    .blob-trebol{
        width: 270px;
        bottom: -3rem;
    }
}
@media(max-width:600px) {
    .home-container{
        padding-top:8px ;
        flex-direction: column-reverse;
    }
    .home-article{
        width: 85%;
    }
    .home-article-title{
        font-size: 1.7rem;
    }
    .blob{
        width: 85%;
        height: 400px;
    }
    .blob-title{
        font-size: 5.2rem;
    }
    .blob-trebol{
        width: 300px;
        bottom: -2rem;
    }
    .home-article-text{
        font-size: 0.7rem;
        margin: 0.5rem 0;
    }
    .home-article-btn{
        padding: 0.15rem 0.35rem;
        font-size: 0.7rem;
    }
}
@media (max-width: 430px){
    .home-article{
        width: 300px;
    }
    .home-article-title{
        font-size: 1.2rem;
    }
    .home-article-text{
        font-size: 0.7rem;
    }
    .blob{
        height: 330px;
        width: 300px;
    }
    .blob-title{
        font-size: 3.7rem;
    }
    .blob-trebol{
        width: 260px;
        bottom: -2.5rem;
    }
}