:root {
    --primary-color: #242424;
    --secondary-color: #e6f6ee;
    --accent-color: #1c8911;
}

.proyectos-container{
    padding: 9dvh 0;
    height: 82dvh;
} 
.proyectos-title{
    font-size: 3rem;
    color: black;
    text-decoration: underline #1b891194;
}

.proyectos-grid {
    display: grid;
    margin-top: 5rem;
    height: 60dvh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.proyectos-card{
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.proyectos-card:nth-child(1) {
    background-color: #114B11;
    color: #FEFBFD;
    grid-area: 3 / 1 / 5 / 3;
    .proyectos-card-img{
        width: 50%;
        object-fit: cover;
        zoom: 0;
    }
}

.proyectos-card:nth-child(2) {
    color: #094106;
    background-color: #DBFCD9;
    grid-area: 1 / 1 / 3 / 4;
}

.proyectos-card:nth-child(3) {
    color: #DBFCD9;
    background-color: #000;
    flex-direction:column;
    grid-area: 1 / 4 / 5 / 6;
    .proyectos-card-img{
        width: 100%;
        height: 50%;
    }
    
}

.proyectos-card:nth-child(4) {
    grid-area: 3 / 3 / 5 / 4;
    img {
        width: 100%;
        object-fit: contain;
        animation: rotate 90s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.proyectos-card-article{
    padding: 1rem;
}
.proyectos-card-title{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.proyectos-card-img{
    object-fit: cover;
}
